Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary
Given:
showEmployee("Ben", 12000)
showEmployee("Jessa")
Expected output:
Name: Ben salary: 12000
Name: Jessa salary: 9000

In [ ]:
def show_employee(a,b=9000):
  print(f"Name : {a}  Salary : {b}")

show_employee("Ben",12000)
show_employee("Jessa")

Name : Ben  Salary : 12000
Name : Jessa  Salary : 9000

Exercise 2: Create an inner function to calculate the addition in the following way:

*Create an outer function that will accept two parameters, a and b

*Create an inner function inside an outer function that will calculate the addition of a and b

*At last, an outer function will add 5 into addition and return it

In [ ]:
def add(a,b=8):
  sum=a+b
  print(f"The sum of Two Numbers are : {sum}")
  return sum
add(5)

The sum of Two Numbers are : 13

13

Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
def even(num1,num2):
    if num1>num2:
        return
    print(num1,end=" ")
    return even(num1+2,num2)
num1=4;num2=31
even(num1,num2)

4 6 8 10 12 14 16 18 20 22 24 26 28 30

Exercise 4: Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.

Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [ ]:
def element(a):
  L=[1,2,3,4,5]
  res=list(filter(lambda x:x==a,L))
  if res:
      print("Element is Present in the list")
  else:
     print("Element is NOT Present in the list")
element(4)
element(8)

Element is Present in the list
Element is NOT Present in the list

Exercise 5: Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
points.sort(key=lambda x: sum(x))
print(points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 : Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
numbers = []
for x in range (1000, 3000):
    numSplit = [int(d) for d in str(x)]
    odd = False
    for y in range (0, len(numSplit)):
        if numSplit[y] % 2 != 0:
            odd = True
    if (odd == False):
        numbers.append(x)
print (numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 : Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [ ]:
def count_letters_digits(sentence):
  letters = 0
  digits = 0
  for char in sentence:
    if char.isalpha():
      letters += 1
    elif char.isdigit():
      digits += 1
  return letters, digits

sentence = "hello world! 123"
letters, digits = count_letters_digits(sentence)
print(f"LETTERS {letters} DIGITS {digits}")

LETTERS 10 DIGITS 3

Exercise 8 : Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def change_cases(s):
  return str(s).upper(), str(s).lower()
chrars = {'s', 'i', 'M', 'p', 'L', 'e','p','O','W','e','R','f','U','l','L'}
print("Original Characters:\n",chrars)
result = map(change_cases, chrars)
print(set(result))

 Exercise 9 : Write a Python program to add two given lists and find the difference between them. Use the map() function

In [ ]:
list1 = [9,6,4,5,4,8,3,4,2,8]
list2 = [8,9,2,1,2,3,5,6,5,6]
result = map(lambda x, y: x + y, list1, list2)
print("Sum of two lists:", list(result))
result = map(lambda x, y: x - y, list1, list2)
print("Difference of two lists:", list(result))

Sum of two lists: [17, 15, 6, 6, 6, 11, 8, 10, 7, 14]
Difference of two lists: [1, -3, 2, 4, 2, 5, -2, -2, -3, 2]

Exercise 10 : Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [ ]:
def filter_data(students):
    result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), students.items()))
    return result
students = {
    'Mike': (6.2, 70),
    'Lucas': (5.9, 65),
    'Will': (6.0, 68),
    'Dustin': (5.8, 66)
}
print("Original Dictionary:")
print(students)
print("\nHeight > 6ft and Weight > 70kg:")
print(filter_data(students))

Original Dictionary:
{'Mike': (6.2, 70), 'Lucas': (5.9, 65), 'Will': (6.0, 68), 'Dustin': (5.8, 66)}

Height > 6ft and Weight > 70kg:
{'Mike': (6.2, 70)}

Exercise 11 : Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
result = list(filter(lambda x: x not in list2, list1))
print(result)

[1, 3, 5, 7, 9, 10]

Exercise 12 : Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [ ]:

import functools
def remove_duplicates(num):
    result = functools.reduce(lambda x, y: x * y, num, 1)
    return result
list1 = [1,2,3,4,5,6,7,8,9,10]
print("list1:", list1)
print("Product of the said list numbers:")
print(remove_duplicates(list1))

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

Exercise 13 : Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Multiply all the numbers of the said list: -864

In [ ]:
from functools import reduce
list1 = [4,3,2,2,-1,18]
result1 = reduce((lambda x, y: x * y), list1)
print(f"Multiplication of the numbers in the given list : {result1}")

Multiplication of the numbers in the given list : -864

Exercise 14 : Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [ ]:
# prompt: Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda. Original Tuple: ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3)) Average value of the numbers of the said tuple of tuples: (30.5, 34.25, 27.0)

tuple1 = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
result = tuple(map(lambda x: sum(x)/3, tuple1))
print(result)

(10.0, 43.666666666666664, 66.66666666666667, 2.0)

Exercise 15 : Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [4]:
def sort_mixed_list(mixed_list):
    mixed_list.sort(key=lambda e: (isinstance(e, str), e))
    return mixed_list
mixed_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
print("Original list:")
print(mixed_list)
print("\nSort the said mixed list of integers and strings:")
print(sort_mixed_list(mixed_list))

Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16 : Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [6]:
def count_occurrences(nums):
    result = dict(map(lambda el: (el, list(nums).count(el)), nums))
    return result
nums = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
print("Original list:")
print(nums)
print("\nCount the occurrences of the items in the said list:")
print(count_occurrences(nums))

Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exerecise 17 : Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [7]:
def remove_none(nums):
    result = filter(lambda v: v is not None, nums)
    return list(result)
nums = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
print("Original list:")
print(nums)
print("\nRemove None value from the said list:")
print(remove_none(nums))

Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]