1.Write a program to sum all the items in a list.

In [ ]:
l=[11,22,33,44,55,66,77,88,99]
total=sum(l)
print("Sum of the List is : ",total)

Sum of the List is :  495

2.Write a python program to get the largest number from the list.

In [ ]:
l=[22,24,34,38,56,67,14,99,88,74,94]
largest_number=max(l)
print("The Largest Number from the List is : ",largest_number)

The Largest Number from the List is :  99

3.Write a python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
 l=['melvin','kelvin','alvin','darvin','2244','2343','1231','1221']
 count_strings=sum(1 for word in l if len(word)>=2 and word[0]==word[-1])
 print("Number of Strings : ",count_strings)

Number of Strings :  2

4.Write a python program to remove duplicates from a list.

In [113]:
l=['rob','sansa','arya','brandon','arya','sansa','rickon']
unique_list=list(set(l))
print("List after removing duplicates :",unique_list)

List after removing duplicates : ['rob', 'sansa', 'brandon', 'rickon', 'arya']

5.write a python program to check if a list is empty or not.

In [111]:
 l=['rob','sansa','arya','brandon','rickon']
 if not l:
    print("The list is Empty")
 else:
    print("The list is not empty and they are : ",l)

The list is not empty and they are :  ['rob', 'sansa', 'arya', 'brandon', 'rickon']

6.Write a python program to filter the list if the length of the character is>4.

In [ ]:
l=['run','watch','match','catch','put','do','for']
filtered_list=[word for word in l if len(word)<4]
print("Filtered list is : ",filtered_list)

Filtered list is :  ['run', 'put', 'do', 'for']

7.Write a python program to find the second largest number in a list.

In [ ]:
l=[22,55,44,11,66,77,33,88,99]
sorted_list=sorted(set(l))
if len(sorted_list)>1:
  second_largest=sorted_list[1]
  print("Second largest number is : ",second_largest)
else:
  print("There is no second largest number in this list.")

Second largest number is :  22

8.Write a python program to reverse a list at a specific location.

In [110]:
l=['rob','sansa','arya','brandon','rickon']
location=3 #reverse at index 2 (0-based indexing)
if location<len(l):
  reversed_list=l[:location+1]+l[location::-1]
  print("Reversed list at location ",location, ":",reversed_list)
else:
  print("Invalid location! Please choose a location within the list length.")

Reversed list at location  3 : ['rob', 'sansa', 'arya', 'brandon', 'brandon', 'arya', 'sansa', 'rob']

9.Write a python program to check if a list is a palindrome or not. Return true othrwise false.

In [109]:
 L=[11,22,33,44,55,44,33,22,11]
 print("The list is : " +str(L))
 reverse = L[::-1]
 result =L == reverse
 print("Is list is Palindrome : " +str(result))

The list is : [11, 22, 33, 44, 55, 44, 33, 22, 11]
Is list is Palindrome : True

10.Write a Python program to find the union and intersection of two list.

In [62]:
list1=[1,2,3,4,7,8]
list2=[2,6,4,9,1,5]
def Union(list1, list2):
  list3=sorted(list1+list2)
  list3=list(set(list3))
  return list3
print(Union(list1,list2))

def intersection(list1,list2):
  list3=[value for value in list1 if value in list2]
  return list3
print(intersection(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 4]

11.Write a python script to sort (ascending and descending)a dictionary by value.

In [68]:
my_dict={2:"stark",4:"valarion",3:"lannister",1:"targaryon"}
sorted_dict = sorted(my_dict.items(), key  = lambda kv:kv[1])
print("Sorted Dictionary is : ", sorted_dict)

Sorted Dictionary is :  [(3, 'lannister'), (2, 'stark'), (1, 'targaryon'), (4, 'valarion')]

12.Write a python script to check whether a given key already exist in a dictionary.

In [70]:
dict={2:"stark",4:"valarion",3:"lannister",1:"targaryon"}
key=4
check_key(dict,key)
key=5
check_key(dict,key)
def check_key(dict, key):
  if key in dict:
    print("Value Exist :", dict[key])
  else:
    print("Not Exist!")

Value Exist : valarion
Not Exist!

13.Write a python program to sum all the values in a dictionary.

In [77]:
dict={'a':44,'b':88,'c':66,'d':22}
def returnSum(my_dict):
  list=[]
  for i in my_dict:
    list.append(my_dict[i])
  final=sum(list)
  return final
print("The sum of all the values in the Dictionary is : ",returnSum(dict))

The sum of all the values in the Dictionary is :  220

14.Write a python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10.

In [91]:
d={}
n=4
for i in range(1,n+1):
  key=i
  value=i*i
  new={key:value}
  d.update(new)
print(d)

{1: 1, 2: 4, 3: 9, 4: 16}

15.Write a python program to sort a given dictionary by key.

In [94]:
my_dict={2:"stark",4:"valarion",3:"lannister",1:"targaryon"}
my_keys=list(my_dict.keys())
my_keys.sort()
sorted_dict= {i:my_dict[i]for i in my_keys}
print("Sorted Dictionary is : ",sorted_dict)

Sorted Dictionary is :  {1: 'targaryon', 2: 'stark', 3: 'lannister', 4: 'valarion'}

16.Write a python program to create a dictionary from a string.

In [116]:
string = "learnpython"
char_count={}
for char in string:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1
print(char_count)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17.Write a python program to get the top three items in a shop.

In [108]:
def top(my_dict):
  result_dict={}
  sorted_dict=sorted(my_dict.items(),key=lambda x:x[1],reverse=True)
  for i in range(3):
    result_dict[sorted_dict[i][0]]=sorted_dict[i][1]
  return result_dict
my_dict= {'item1':45.50,'item2':35,'item3':41.30,'item4':55,'item5':24}
print(top(my_dict))

{'item4': 55, 'item1': 45.5, 'item3': 41.3}